body{font:12px Helvetica}
h1{margin:0 10px 0 0;padding:0;margin:0 auto;display:inline-block}
#hola{background-image:url("hola.png");background-repeat:repeat-x;line-height:15px;max-width:150%}
.cass{color:#000;background-color:#000}
